In [3]:
import org.apache.spark.sql.SparkSession

val spark = SparkSession
    .builder
    .appName("Padron")
    .getOrCreate()

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@2df8a826

In [4]:
val file = "./padron/Rango_Edades_Seccion_202104.csv"
val schema = "COD_DISTRITO int, DESC_DISTRITO string, COD_DIST_BARRIO int, DESC_BARRIO string, " +
"COD_BARRIO int, COD_DIST_SECCION int, COD_SECCION int, COD_EDAD_INT int, EspanolesHombres int, " +
"EspanolesMujeres int, ExtranjerosHombres int, ExtranjerosMujeres int"

file: String = ./padron/Rango_Edades_Seccion_202104.csv
schema: String = COD_DISTRITO int, DESC_DISTRITO string, COD_DIST_BARRIO int, DESC_BARRIO string, COD_BARRIO int, COD_DIST_SECCION int, COD_SECCION int, COD_EDAD_INT int, EspanolesHombres int, EspanolesMujeres int, ExtranjerosHombres int, ExtranjerosMujeres int

In [5]:
val df = spark.read.format("csv")
    .option("header", "true")
    .schema(schema) 
    .option("sep", ";")
    .load(file)
    .na.fill(0)

df: org.apache.spark.sql.DataFrame = [COD_DISTRITO: int, DESC_DISTRITO: string ... 10 more fields]

In [6]:
println(df.printSchema)

root
 |-- COD_DISTRITO: integer (nullable = false)
 |-- DESC_DISTRITO: string (nullable = true)
 |-- COD_DIST_BARRIO: integer (nullable = false)
 |-- DESC_BARRIO: string (nullable = true)
 |-- COD_BARRIO: integer (nullable = false)
 |-- COD_DIST_SECCION: integer (nullable = false)
 |-- COD_SECCION: integer (nullable = false)
 |-- COD_EDAD_INT: integer (nullable = false)
 |-- EspanolesHombres: integer (nullable = false)
 |-- EspanolesMujeres: integer (nullable = false)
 |-- ExtranjerosHombres: integer (nullable = false)
 |-- ExtranjerosMujeres: integer (nullable = false)

()

In [7]:
df.select("ExtranjerosHombres").show(5)

+------------------+
|ExtranjerosHombres|
+------------------+
|                 0|
|                 0|
|                 0|
|                 0|
|                 0|
+------------------+
only showing top 5 rows

In [64]:
df.show(5)

+------------+--------------------+---------------+--------------------+----------+----------------+-----------+------------+----------------+----------------+------------------+------------------+
|COD_DISTRITO|       DESC_DISTRITO|COD_DIST_BARRIO|         DESC_BARRIO|COD_BARRIO|COD_DIST_SECCION|COD_SECCION|COD_EDAD_INT|EspanolesHombres|EspanolesMujeres|ExtranjerosHombres|ExtranjerosMujeres|
+------------+--------------------+---------------+--------------------+----------+----------------+-----------+------------+----------------+----------------+------------------+------------------+
|           1|CENTRO              |            101|PALACIO             |         1|            1006|          6|          97|               1|               0|                 0|                 0|
|           1|CENTRO              |            101|PALACIO             |         1|            1006|          6|          98|               1|               1|                 0|                 0|
|           1|CENTRO              |            101|PALACIO             |         1|            1006|          6|          99|               0|               1|                 0|                 0|
|           1|CENTRO              |            101|PALACIO             |         1|            1006|          6|         100|               0|               1|                 0|                 0|
|           1|CENTRO              |            101|PALACIO             |         1|            1006|          6|         103|               0|               1|                 0|                 0|
+------------+--------------------+---------------+--------------------+----------+----------------+-----------+------------+----------------+----------------+------------------+------------------+
only showing top 5 rows

In [71]:
df.select("desc_barrio").distinct.show(500, false)

+--------------------+
|desc_barrio         |
+--------------------+
|EMBAJADORES         |
|SANTA EUGENIA       |
|LEGAZPI             |
|DELICIAS            |
|CIUDAD UNIVERSITARIA|
|CONCEPCION          |
|VENTAS              |
|IMPERIAL            |
|SAN FERMIN          |
|TRAFALGAR           |
|ESTRELLA            |
|PUERTA BONITA       |
|ALUCHE              |
|ADELFAS             |
|PUEBLO NUEVO        |
|PALOMAS             |
|CORRALEJOS          |
|VALDEZARZA          |
|LOS CARMENES        |
|PUERTA DEL ANGEL    |
|ORCASITAS           |
|OPA?EL              |
|SAN ISIDRO          |
|ZOFIO               |
|LOS JERONIMOS       |
|ARCOS               |
|QUINTANA            |
|AEROPUERTO          |
|FUENTELARREINA      |
|VALLEHERMOSO        |
|CANILLAS            |
|PALACIO             |
|ALMENDRALES         |
|SAN CRISTOBAL       |
|CORTES              |
|CASTELLANA          |
|EL SALVADOR         |
|CHOPERA             |
|SAN JUAN BAUTISTA   |
|CUATRO CAMINOS      |
|VALVERDE            |
|FONTARRON           |
|SOL                 |
|PALOMERAS SURESTE   |
|LOS ROSALES         |
|CANILLEJAS          |
|ATOCHA              |
|CUATRO VIENTOS      |
|BERRUGUETE          |
|CASA DE CAMPO       |
|ALMAGRO             |
|ACACIAS             |
|BUENAVISTA          |
|APOSTOL SANTIAGO    |
|PALOMERAS BAJAS     |
|CASTILLEJOS         |
|CASCO H.BARAJAS     |
|PAVONES             |
|AMPOSTA             |
|PE?A GRANDE         |
|EL PARDO            |
|COSTILLARES         |
|COLINA              |
|GUINDALERA          |
|MEDIA LEGUA         |
|EL CA?AVERAL        |
|ALAMEDA DE OSUNA    |
|BUTARQUE            |
|CAMPAMENTO          |
|MARROQUINA          |
|LAS AGUILAS         |
|ENSANCHE DE VALLECAS|
|UNIVERSIDAD         |
|HISPANOAMERICA      |
|PIOVERA             |
|LISTA               |
|EL PILAR            |
|TIMON               |
|JUSTICIA            |
|SAN PASCUAL         |
|VALDEACEDERAS       |
|ENTREVIAS           |
|ORCASUR             |
|PRADOLONGO          |
|ALMENARA            |
|GOYA                |
|VALDEMARIN          |
|PROSPERIDAD         |
|CASTILLA            |
|RECOLETOS           |
|NUMANCIA            |
|ARGUELLES           |
|FUENTE DEL BERRO    |
|MIRASIERRA          |
|ABRANTES            |
|RIOS ROSAS          |
|VINATEROS           |
|CASCO H.VALLECAS    |
|PINAR DEL REY       |
|LOS ANGELES         |
|EL VISO             |
|GAZTAMBIDE          |
|VALDEFUENTES        |
|REJAS               |
|VALDERRIVAS         |
|BARRIOS EN EDIF. BDC|
|CASCO H.VICALVARO   |
|VALDEBERNARDO       |
|LA PAZ              |
|EL PLANTIO          |
|PACIFICO            |
|PALOS DE MOGUER     |
|PORTAZGO            |
|VISTA ALEGRE        |
|SAN DIEGO           |
|ARAVACA             |
|HORCAJO             |
|BELLAS VISTAS       |
|CIUDAD JARDIN       |
|IBIZA               |
|COMILLAS            |
|ATALAYA             |
|NUEVA ESPA?A        |
|MOSCARDO            |
|SIMANCAS            |
|ROSAS               |
|ARAPILES            |
|EL GOLOSO           |
|NI?O JESUS          |
|LUCERO              |
|HELLIN              |
|VILLAVERDE ALTO C.H.|
+--------------------+

In [8]:
df.createOrReplaceTempView("padron")

In [9]:
spark.sql("""select count(distinct desc_barrio) from padron""").show()

+---------------------------+
|count(DISTINCT desc_barrio)|
+---------------------------+
|                        132|
+---------------------------+

In [10]:
val df2 = df.withColumn("longitud", length(col("desc_distrito")))

df2.select("longitud").show()

+--------+
|longitud|
+--------+
|      20|
|      20|
|      20|
|      20|
|      20|
|      20|
|      20|
|      20|
|      20|
|      20|
|      20|
|      20|
|      20|
|      20|
|      20|
|      20|
|      20|
|      20|
|      20|
|      20|
+--------+
only showing top 20 rows

df2: org.apache.spark.sql.DataFrame = [COD_DISTRITO: int, DESC_DISTRITO: string ... 11 more fields]

In [11]:
val df3 = df.withColumn("Valor 5", lit("5"))

df3.show()

+------------+--------------------+---------------+--------------------+----------+----------------+-----------+------------+----------------+----------------+------------------+------------------+-------+
|COD_DISTRITO|       DESC_DISTRITO|COD_DIST_BARRIO|         DESC_BARRIO|COD_BARRIO|COD_DIST_SECCION|COD_SECCION|COD_EDAD_INT|EspanolesHombres|EspanolesMujeres|ExtranjerosHombres|ExtranjerosMujeres|Valor 5|
+------------+--------------------+---------------+--------------------+----------+----------------+-----------+------------+----------------+----------------+------------------+------------------+-------+
|           1|CENTRO              |            101|PALACIO             |         1|            1006|          6|          97|               1|               0|                 0|                 0|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1006|          6|          98|               1|               1|                 0|                 0|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1006|          6|          99|               0|               1|                 0|                 0|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1006|          6|         100|               0|               1|                 0|                 0|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1006|          6|         103|               0|               1|                 0|                 0|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1007|          7|           0|               3|               1|                 0|                 2|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1007|          7|           1|               2|               2|                 0|                 1|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1007|          7|           2|               1|               3|                 0|                 0|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1007|          7|           3|               4|               1|                 0|                 0|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1007|          7|           4|               1|               2|                 0|                 0|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1007|          7|           5|               0|               5|                 0|                 1|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1007|          7|           6|               1|               1|                 0|                 0|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1007|          7|           7|               3|               2|                 0|                 0|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1007|          7|           8|               4|               2|                 0|                 0|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1007|          7|           9|               2|               2|                 0|                 0|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1007|          7|          10|               3|               2|                 1|                 0|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1007|          7|          11|               3|               3|                 0|                 0|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1007|          7|          12|               3|               2|                 1|                 0|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1007|          7|          13|               1|               2|                 0|                 0|      5|
|           1|CENTRO              |            101|PALACIO             |         1|            1007|          7|          14|               4|               1|                 0|                 0|      5|
+------------+--------------------+---------------+--------------------+----------+----------------+-----------+------------+----------------+----------------+------------------+------------------+-------+
only showing top 20 rows

df3: org.apache.spark.sql.DataFrame = [COD_DISTRITO: int, DESC_DISTRITO: string ... 11 more fields]

In [88]:
df.write.partitionBy("DESC_DISTRITO","DESC_BARRIO").mode("overwrite").saveAsTable("partitioned")

In [89]:
df.write.format("csv").partitionBy("DESC_DISTRITO","DESC_BARRIO").mode("overwrite")
    .save("./particion")

In [12]:
val file_part = "./particion"



val df_part = spark.read.format("csv")
    .option("header", "true")
    .schema(schema) 
    .option("sep", ";")
    .load(file_part)
    .na.fill(0)

file_part: String = ./particion
df_part: org.apache.spark.sql.DataFrame = [COD_DISTRITO: int, COD_DIST_BARRIO: int ... 10 more fields]

In [93]:
df_part.cache()

res63: df_part.type = [COD_DISTRITO: int, COD_DIST_BARRIO: int ... 10 more fields]

In [104]:
df_part.groupBy("desc_distrito", "desc_barrio")
    .agg(sum("espanoleshombres"), sum("espanolesmujeres"), 
    sum("extranjeroshombres"), sum("extranjerosmujeres"))
    .orderBy("sum(extranjerosmujeres)", "sum(extranjeroshombres)")
    .show()

+--------------------+--------------------+---------------------+---------------------+-----------------------+-----------------------+
|       desc_distrito|         desc_barrio|sum(espanoleshombres)|sum(espanolesmujeres)|sum(extranjeroshombres)|sum(extranjerosmujeres)|
+--------------------+--------------------+---------------------+---------------------+-----------------------+-----------------------+
|CARABANCHEL         |VISTA ALEGRE        |                    0|                    0|                      0|                      0|
|MORATALAZ           |VINATEROS           |                    0|                    0|                      0|                      0|
|SAN BLAS-CANILLEJAS |SIMANCAS            |                    0|                    0|                      0|                      0|
|CARABANCHEL         |PUERTA BONITA       |                    0|                    0|                      0|                      0|
|ARGANZUELA          |LEGAZPI             |                    0|                    0|                      0|                      0|
|VICALVARO           |VALDEBERNARDO       |                    0|                    0|                      0|                      0|
|ARGANZUELA          |DELICIAS            |                    0|                    0|                      0|                      0|
|CHAMARTIN           |CIUDAD JARDIN       |                    0|                    0|                      0|                      0|
|ARGANZUELA          |ATOCHA              |                    0|                    0|                      0|                      0|
|CHAMBERI            |RIOS ROSAS          |                    0|                    0|                      0|                      0|
|MORATALAZ           |FONTARRON           |                    0|                    0|                      0|                      0|
|CIUDAD LINEAL       |SAN JUAN BAUTISTA   |                    0|                    0|                      0|                      0|
|VILLA DE VALLECAS   |CASCO H.VALLECAS    |                    0|                    0|                      0|                      0|
|CIUDAD LINEAL       |COSTILLARES         |                    0|                    0|                      0|                      0|
|USERA               |ORCASITAS           |                    0|                    0|                      0|                      0|
|LATINA              |CUATRO VIENTOS      |                    0|                    0|                      0|                      0|
|FUENCARRAL-EL PARDO |FUENTELARREINA      |                    0|                    0|                      0|                      0|
|TETUAN              |VALDEACEDERAS       |                    0|                    0|                      0|                      0|
|VILLA DE VALLECAS   |SANTA EUGENIA       |                    0|                    0|                      0|                      0|
|CENTRO              |CORTES              |                    0|                    0|                      0|                      0|
+--------------------+--------------------+---------------------+---------------------+-----------------------+-----------------------+
only showing top 20 rows

In [105]:
df_part.unpersist()

res73: df_part.type = [COD_DISTRITO: int, COD_DIST_BARRIO: int ... 10 more fields]

In [106]:
df.groupBy("desc_distrito", "desc_barrio")
    .agg(sum("espanoleshombres"), sum("espanolesmujeres"), 
    sum("extranjeroshombres"), sum("extranjerosmujeres"))
    .orderBy("sum(extranjerosmujeres)", "sum(extranjeroshombres)")
    .show()

+--------------------+--------------------+---------------------+---------------------+-----------------------+-----------------------+
|       desc_distrito|         desc_barrio|sum(espanoleshombres)|sum(espanolesmujeres)|sum(extranjeroshombres)|sum(extranjerosmujeres)|
+--------------------+--------------------+---------------------+---------------------+-----------------------+-----------------------+
|LATINA              |BARRIOS EN EDIF. BDC|                    0|                    1|                      0|                      0|
|ARGANZUELA          |ATOCHA              |                  693|                  705|                     34|                     59|
|FUENCARRAL-EL PARDO |EL PARDO            |                 1657|                 1624|                     71|                     93|
|CIUDAD LINEAL       |ATALAYA             |                  604|                  794|                     90|                    104|
|FUENCARRAL-EL PARDO |FUENTELARREINA      |                 1446|                 1669|                     68|                    181|
|MORATALAZ           |HORCAJO             |                 2872|                 3128|                    173|                    191|
|MONCLOA-ARAVACA     |EL PLANTIO          |                 1224|                 1401|                    133|                    195|
|BARAJAS             |AEROPUERTO          |                  772|                  714|                    212|                    221|
|LATINA              |CUATRO VIENTOS      |                 2689|                 2728|                    261|                    248|
|BARAJAS             |CORRALEJOS          |                 3558|                 3604|                    221|                    282|
|VICALVARO           |EL CA?AVERAL        |                 2441|                 2287|                    213|                    298|
|CIUDAD LINEAL       |COLINA              |                 2541|                 3139|                    322|                    364|
|VICALVARO           |VALDERRIVAS         |                 8459|                 8821|                    295|                    379|
|MONCLOA-ARAVACA     |VALDEMARIN          |                 2999|                 3287|                    205|                    404|
|HORTALEZA           |PALOMAS             |                 3023|                 3117|                    349|                    419|
|RETIRO              |LOS JERONIMOS       |                 2888|                 3228|                    334|                    448|
|MORATALAZ           |PAVONES             |                 3634|                 4359|                    425|                    504|
|SAN BLAS-CANILLEJAS |EL SALVADOR         |                 4887|                 5449|                    456|                    552|
|RETIRO              |NI?O JESUS          |                 6604|                 7756|                    340|                    599|
|FUENCARRAL-EL PARDO |EL GOLOSO           |                 8870|                 8967|                    520|                    614|
+--------------------+--------------------+---------------------+---------------------+-----------------------+-----------------------+
only showing top 20 rows

In [13]:
val nuevoDF = df.groupBy("desc_distrito", "desc_barrio")
    .agg(sum("espanoleshombres") as "espanoleshombres")

nuevoDF: org.apache.spark.sql.DataFrame = [desc_distrito: string, desc_barrio: string ... 1 more field]

In [14]:
nuevoDF.show()

+--------------------+--------------------+----------------+
|       desc_distrito|         desc_barrio|espanoleshombres|
+--------------------+--------------------+----------------+
|TETUAN              |VALDEACEDERAS       |            9552|
|CHAMARTIN           |CIUDAD JARDIN       |            7305|
|ARGANZUELA          |DELICIAS            |           11743|
|MORATALAZ           |VINATEROS           |            6470|
|CARABANCHEL         |VISTA ALEGRE        |           16016|
|SAN BLAS-CANILLEJAS |SIMANCAS            |           10737|
|CARABANCHEL         |PUERTA BONITA       |           12565|
|ARGANZUELA          |LEGAZPI             |            8879|
|VICALVARO           |VALDEBERNARDO       |            7720|
|ARGANZUELA          |ATOCHA              |             693|
|CHAMBERI            |RIOS ROSAS          |           10541|
|MORATALAZ           |FONTARRON           |            6617|
|CIUDAD LINEAL       |SAN JUAN BAUTISTA   |            5213|
|VILLA DE VALLECAS   |CASCO H.VALLECAS    |           15692|
|VILLA DE VALLECAS   |SANTA EUGENIA       |           10395|
|CIUDAD LINEAL       |COSTILLARES         |            9869|
|USERA               |ORCASITAS           |            9811|
|FUENCARRAL-EL PARDO |FUENTELARREINA      |            1446|
|LATINA              |CUATRO VIENTOS      |            2689|
|CARABANCHEL         |COMILLAS            |            8253|
+--------------------+--------------------+----------------+
only showing top 20 rows

In [15]:
nuevoDF.join(df, df("desc_distrito")===nuevoDF("desc_distrito") && df("desc_barrio")===nuevoDF("desc_barrio")).show()

+--------------------+--------------------+----------------+------------+--------------------+---------------+--------------------+----------+----------------+-----------+------------+----------------+----------------+------------------+------------------+
|       desc_distrito|         desc_barrio|espanoleshombres|COD_DISTRITO|       DESC_DISTRITO|COD_DIST_BARRIO|         DESC_BARRIO|COD_BARRIO|COD_DIST_SECCION|COD_SECCION|COD_EDAD_INT|EspanolesHombres|EspanolesMujeres|ExtranjerosHombres|ExtranjerosMujeres|
+--------------------+--------------------+----------------+------------+--------------------+---------------+--------------------+----------+----------------+-----------+------------+----------------+----------------+------------------+------------------+
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6102|        102|          90|               3|               1|                 0|                 0|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6102|        102|          91|               1|               4|                 0|                 0|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6102|        102|          92|               2|               3|                 0|                 0|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6102|        102|          93|               1|               1|                 0|                 0|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6102|        102|          94|               0|               1|                 0|                 0|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6102|        102|          95|               0|               2|                 0|                 0|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6102|        102|          99|               0|               1|                 0|                 0|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6103|        103|           0|               9|               2|                 0|                 2|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6103|        103|           1|               7|               6|                 4|                 2|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6103|        103|           2|               4|               1|                 5|                 1|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6103|        103|           3|               4|               6|                 2|                 1|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6103|        103|           4|               4|               7|                 1|                 1|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6103|        103|           5|               3|              11|                 4|                 1|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6103|        103|           6|               5|               9|                 2|                 2|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6103|        103|           7|               3|               6|                 1|                 5|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6103|        103|           8|               8|               5|                 0|                 2|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6103|        103|           9|               4|               3|                 2|                 1|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6103|        103|          10|               4|               6|                 3|                 0|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6103|        103|          11|               3|              10|                 0|                 4|
|TETUAN              |VALDEACEDERAS       |            9552|           6|TETUAN              |            605|VALDEACEDERAS       |         5|            6103|        103|          12|               7|               6|                 1|                 2|
+--------------------+--------------------+----------------+------------+--------------------+---------------+--------------------+----------+----------------+-----------+------------+----------------+----------------+------------------+------------------+
only showing top 20 rows

In [114]:
spark.sql("""DROP TABLE IF EXISTS padron_tbl;""")

res81: org.apache.spark.sql.DataFrame = []

In [24]:
val pivotDF = df.filter(col("desc_distrito").contains("BARAJAS").alias("BARAJAS") ||
                       col("desc_distrito").contains("CENTRO") ||
                       col("desc_distrito").contains("RETIRO"))
    //.groupBy("desc_distrito", "cod_edad_int")
    .groupBy("cod_edad_int")
    .pivot("desc_distrito")
    .agg(sum("espanolesmujeres") as "espanolesmujeres")
    .na.fill(0)
    

pivotDF.show()

+------------+--------------------+--------------------+--------------------+
|cod_edad_int|BARAJAS             |CENTRO              |RETIRO              |
+------------+--------------------+--------------------+--------------------+
|          31|                 191|                 931|                 615|
|          85|                  95|                 354|                 535|
|          65|                 212|                 656|                 951|
|          53|                 342|                 754|                 788|
|          78|                 187|                 451|                 654|
|         108|                   1|                   1|                   1|
|          34|                 250|                 883|                 645|
|         101|                   5|                  14|                  19|
|          81|                 159|                 364|                 512|
|          28|                 172|                 863|                 620|
|          76|                 262|                 453|                 769|
|          27|                 145|                 745|                 618|
|          26|                 149|                 655|                 509|
|          44|                 431|                 948|                 834|
|         103|                   1|                   7|                   6|
|          12|                 278|                 281|                 448|
|          91|                  49|                 240|                 308|
|          22|                 189|                 306|                 428|
|          93|                  31|                 160|                 229|
|         111|                   0|                   1|                   1|
+------------+--------------------+--------------------+--------------------+
only showing top 20 rows

pivotDF: org.apache.spark.sql.DataFrame = [cod_edad_int: int, BARAJAS             : bigint ... 2 more fields]

In [26]:
val pivotDF2 = pivotDF.withColumn("porcentajeBarajas", col("BARAJAS             ")/
                                  (col("BARAJAS             ")
                                   +col("CENTRO              ")
                                   +col("RETIRO              "))*100)
.withColumn("porcentajeCentro", col("CENTRO              ")/(col("BARAJAS             ")
                                   +col("CENTRO              ")
                                   +col("RETIRO              "))*100)
.withColumn("porcentajeRetiro", col("RETIRO              ")/(col("BARAJAS             ")
                                   +col("CENTRO              ")
                                   +col("RETIRO              "))*100)

pivotDF2.show()

+------------+--------------------+--------------------+--------------------+------------------+------------------+------------------+
|cod_edad_int|BARAJAS             |CENTRO              |RETIRO              | porcentajeBarajas|  porcentajeCentro|  porcentajeRetiro|
+------------+--------------------+--------------------+--------------------+------------------+------------------+------------------+
|          31|                 191|                 931|                 615|10.995970063327576| 53.59815774323546| 35.40587219343696|
|          85|                  95|                 354|                 535| 9.654471544715447| 35.97560975609756| 54.36991869918699|
|          65|                 212|                 656|                 951|11.654755360087961|36.063771302913686| 52.28147333699835|
|          53|                 342|                 754|                 788|18.152866242038215| 40.02123142250531|41.825902335456476|
|          78|                 187|                 451|                 654|14.473684210526317|34.907120743034056| 50.61919504643962|
|         108|                   1|                   1|                   1| 33.33333333333333| 33.33333333333333| 33.33333333333333|
|          34|                 250|                 883|                 645|  14.0607424071991| 49.66254218222722| 36.27671541057368|
|         101|                   5|                  14|                  19|13.157894736842104| 36.84210526315789|              50.0|
|          81|                 159|                 364|                 512| 15.36231884057971|35.169082125603865|49.468599033816425|
|          28|                 172|                 863|                 620|10.392749244712991| 52.14501510574018| 37.46223564954683|
|          76|                 262|                 453|                 769|17.654986522911052|30.525606469002696| 51.81940700808625|
|          27|                 145|                 745|                 618| 9.615384615384617| 49.40318302387268|  40.9814323607427|
|          26|                 149|                 655|                 509|11.348057882711348| 49.88575780654988|38.766184310738765|
|          44|                 431|                 948|                 834| 19.47582467239042| 42.83777677361048|  37.6863985539991|
|         103|                   1|                   7|                   6| 7.142857142857142|              50.0|42.857142857142854|
|          12|                 278|                 281|                 448|27.606752730883816|27.904667328699105|44.488579940417075|
|          91|                  49|                 240|                 308| 8.207705192629817| 40.20100502512563| 51.59128978224455|
|          22|                 189|                 306|                 428| 20.47670639219935| 33.15276273022752| 46.37053087757313|
|          93|                  31|                 160|                 229| 7.380952380952381|38.095238095238095| 54.52380952380952|
|         111|                   0|                   1|                   1|               0.0|              50.0|              50.0|
+------------+--------------------+--------------------+--------------------+------------------+------------------+------------------+
only showing top 20 rows

pivotDF2: org.apache.spark.sql.DataFrame = [cod_edad_int: int, BARAJAS             : bigint ... 5 more fields]

In [27]:
df.write.format("parquet").partitionBy("DESC_DISTRITO","DESC_BARRIO").mode("overwrite")
    .save("./particion2")